*{
    margin: 0;
    padding: 0;
}
.box{
    width: 800px;
    height: 700px;
    margin: 80px 400px;
    background-image: linear-gradient(rgb(213, 255, 87),rgb(126, 255, 167));
    position: relative;
    box-shadow: 0px 0px 100px #ffffa0 ;
}
.body_{
    width: 400px;
    height: 420px;
    background-color: #f8b7ce;
    border-radius: 100%;
    box-shadow: 10px 10px 60px #323231;
    box-shadow: 10px 10px 100px #ffeff5 inset;
    z-index: 100;
    position: absolute;
    top:  150px;
    left: 180px;

}
.right_foot{
    width: 150px;
    height: 200px;
    background-color: #a93c4a;
    border-radius: 100%;
    box-shadow: 20px 10px 40px #323231;
    transform: rotate(60deg);
    z-index: 101;
    position: absolute;
    top:  400px;
    left: 400px;
}
.left_foot{
    width: 150px;
    height: 200px;
    background-color: #a93c4a;
    border-radius: 100%;
    box-shadow: 10px -10px 20px #323231;
    transform: rotate(175deg);
    position: absolute;
    top:  450px;
    left: 220px;
}
.left_hand{
    width: 150px;
    height: 250px;
    background-color: #f8b7ce;
    border-radius: 100%;
    box-shadow: 10px 10px 40px #323231;
    transform: rotate(195deg);
    position: absolute;
    top:  80px;
    left: 220px;
}
.right_hand {
    width: 150px;
    height: 300px;
    background-color: #f8b7ce;
    border-radius: 100%;
    box-shadow: 20px -20px 40px #323231;
    transform: rotate(100deg);
    position: absolute;
    top:  260px;
    left: 400px;
}
.left_eye{
    width: 50px;
    height: 100px;
    background-image: linear-gradient(#000204,#000204,#283dbd);
    border: 2px solid #000204;
    border-radius: 100%;
    z-index: 101;
    transform: rotate(20deg);
    position: absolute;
    top:  200px;
    left: 350px;
}
.right_eye{
    width: 50px;
    height: 100px;
    background-image: linear-gradient(#000204,#000204,#283dbd);
    border: 2px solid #000204;
    border-radius: 100%;
    z-index: 101;
    transform: rotate(20deg);
    position: absolute;
    top:  250px;
    left: 450px;
}
.left_eyeball{
    width: 30px;
    height: 40px;
    background-color: #fbfffb;
    border-radius: 100%;
    z-index: 103;
    transform: rotate(20deg);
    position: absolute;
    top:  210px;
    left: 370px;
}
.right_eyeball{
    width: 30px;
    height: 40px;
    background-color: #fbfffb;
    border-radius: 100%;
    z-index: 103;
    transform: rotate(20deg);
    position: absolute;
    top:  260px;
    left: 470px;
}
.left_cheek {
    width: 40px;
    height: 70px;
    background-color: #fd87be;
    border-radius: 100%;
    z-index: 103;
    transform: rotate(110deg);
    position: absolute;
    top:  280px;
    left: 270px;
}
.right_cheek{
    width: 40px;
    height: 70px;
    background-color: #fd87be;
    border-radius: 100%;
    z-index: 103;
    transform: rotate(110deg);
    position: absolute;
    top: 350px;
    left: 480px;
}
.mouth{
    width: 80px;
    height: 40px;
    background-color: #e95b58;
    border-radius: 10px 10px 60px 60px;
    z-index: 103;
    transform: rotate(28deg);
    border: 5px solid #79231d;
    border-top: 15px solid #79231d;
    position: absolute;
    top: 360px;
    left: 340px;
}